* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

p {
    height: 100%;
    width: 100%;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200px;
    justify-content: center;
    align-items: center;
}